.root {
    -fx-font-size: 14pt;
    -fx-font-family: "Courier New";
    -fx-base: black;
    -fx-background: lightgray;
}

.button {
    -fx-text-fill: black;
    -fx-background-color: null;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 8;
}

.hbox {
    -fx-padding: 10;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: gray;
}

.button:hover {
    -fx-background-color: gray;
}
