.root {
    -fx-font-size: 14pt;
    -fx-font-family: "Courier New";
    -fx-base: black;
    -fx-background: lightgray;
}

.button {
    -fx-text-fill: black;
    -fx-background-color: null;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 8;
}

.button:hover {
    -fx-background-color: gray;
}

.combo-box-base {
    -fx-text-base-color: turquoise;
    -fx-background-color: violet;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
.combo-box-base:hover {
    -fx-background-color: blue;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: steelblue;
    -fx-opacity: 0.6;
}

.text-field {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Semibold";
}
